## imports

In [84]:
from selenium import webdriver
import pandas as pd
import sqlalchemy

## initialization

In [85]:
# store url
url = 'https://worldpopulationreview.com/countries'
#initialize chromedriver
driver = webdriver.Chrome(executable_path='C:/webdrivers/chromedriver.exe')

C:\Users\MTEXH\AppData\Local\Temp/ipykernel_2492/2186904348.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path='C:/webdrivers/chromedriver.exe')

In [86]:
# open url
driver.get(url)
driver.maximize_window()

In [87]:
# countries
countries = driver.find_elements_by_xpath('//div[@class="datatable-container undefined"]//tbody//tr//td[2]')
# population 2022
population_2022 =driver.find_elements_by_xpath('//div[@class="datatable-container undefined"]//tbody//tr//td[3]')
# population 2021
population_2021 = driver.find_elements_by_xpath('//div[@class="datatable-container undefined"]//tbody//tr//td[4]')
# growth rate
growth_rate =driver.find_elements_by_xpath('//div[@class="datatable-container undefined"]//tbody//tr//td[5]')
# area
area  =driver.find_elements_by_xpath('//div[@class="datatable-container undefined"]//tbody//tr//td[6]')
#density
density = driver.find_elements_by_xpath('//div[@class="datatable-container undefined"]//tbody//tr//td[7]')

C:\Users\MTEXH\AppData\Local\Temp/ipykernel_2492/3121843366.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  countries = driver.find_elements_by_xpath('//div[@class="datatable-container undefined"]//tbody//tr//td[2]')
C:\Users\MTEXH\AppData\Local\Temp/ipykernel_2492/3121843366.py:4: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  population_2022 =driver.find_elements_by_xpath('//div[@class="datatable-container undefined"]//tbody//tr//td[3]')
C:\Users\MTEXH\AppData\Local\Temp/ipykernel_2492/3121843366.py:6: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  population_2021 = driver.find_elements_by_xpath('//div[@class="datatable-container undefined"]//tbody//tr//td[4]')
C:\Users\MTEXH\AppData\Local\Temp/ipykernel_2492/3121843366.py:8: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  growth_rate =driver.find_elements_by_xpath('//div[@class="datatable-container undefined"]//tbody//tr//td[5]')
C:\Users\MTEXH\AppData\Local\Temp/ipykernel_2492/3121843366.py:10: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  area  =driver.find_elements_by_xpath('//div[@class="datatable-container undefined"]//tbody//tr//td[6]')
C:\Users\MTEXH\AppData\Local\Temp/ipykernel_2492/3121843366.py:12: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  density = driver.find_elements_by_xpath('//div[@class="datatable-container undefined"]//tbody//tr//td[7]')

In [72]:
#for population in population_2022:
 #   print(population.text)

In [96]:
density[0].text.split('/')[0]

'147'

## data frame building

In [101]:
df_population=pd.DataFrame(columns=['Countries','Population_2022','Population_2021','Growth_rate','Area','Density_km2'])

In [102]:
df_population

Empty DataFrame
Columns: [Countries, Population_2022, Population_2021, Growth_rate, Area, Density_km2]
Index: []

In [103]:
for i in range(len(countries)):
    df_population = df_population.append({'Countries':countries[i].text,'Population_2022':population_2022[i].text,
                                          'Population_2021':population_2021[i].text,'Growth_rate':growth_rate[i].text,
                                          'Area':area[i].text,'Density_km2':density[i].text.split('/')[0]},ignore_index=True)

In [104]:
df_population

,Countries,Population_2022,Population_2021,Growth_rate,Area,Density_km2
0,China,"1,425,887,337","1,425,893,465",-0.00%,"9,706,961",147
1,India,"1,417,173,173","1,407,563,842",0.68%,"3,287,590",431
2,United States,"338,289,857","336,997,624",0.38%,"9,372,610",36
3,Indonesia,"275,501,339","273,753,191",0.64%,"1,904,569",145
4,Pakistan,"235,824,862","231,402,117",1.91%,"881,912",267
...,...,...,...,...,...,...
205,San Marino,"33,660","33,745",-0.25%,61,552
206,Palau,"18,055","18,024",0.17%,459,39
207,Nauru,"12,668","12,511",1.25%,21,603
208,Tuvalu,"11,312","11,204",0.96%,26,435
209,Vatican City,510,511,-0.20%,1,510

## export of the data

In [106]:
df_population.to_csv('world_population_data.csv',index=False)

In [111]:
# json
df_population.to_json('population_json.json',force_ascii=False)